@media(max-width: 425px){
    :root{
        --largura-padrao: 100%;
        --largura-minima: none;
        --largura-maxima: none;
    }
    .cabecalho .menu{
        display: none;
    }
    .cabecalho .logo{
        width: 100px;
    }
    .botoesBanner{
        top: 45vh;
    }
    .conteudo{
        margin: 5px;
    }
}
