:root{
    --cor0:#e8ffe3;
    --cor1:#ace17a;
    --cor2:#58B846;
    --cor3:#1C4D21;
    --cor4:#022F0B;

    --cor0-trasp:#E8FFE388;
    --cor1-trasp:#ACE17A88;
    --cor2-trasp:#58B84688;
    --cor3-trasp:#1C4F2188;
    --cor4-trasp:#022F0B88;

    --cor-fundo:#E2F7CF;

    --font-padrao: Arial, Helvetica, sans-serif;
    --font-secundaria: 'Roboto', sans-serif;
    --font-destaque: 'Roboto Condensed', sans-serif;

    --largura-padrao: 85%;
    --largura-minima: 500px;
    --largura-maxima: 1400px;
}

body{
    font-family: var(--font-padrao);
    background-color: var(--cor-fundo);
}

body::-webkit-scrollbar {
    width: 10px;
  }
  
  body::-webkit-scrollbar-track {
    background: transparent;
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: var(--cor4);
    border-radius: 20px;
    border:2px solid var(--cor-fundo);
  }

.cabecalho{
    background-image: linear-gradient(180deg, var(--cor1), var(--cor1),var(--cor2));

    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);

    z-index: 2;
}

.cabecalho .logo{
    width: 150px;
    margin: 10px;
}

.cabecalho nav{
    display: flex;
    flex-direction: row;
}

.cabecalho .menu{
    display: flex;
    margin-right: 10px;
}

.cabecalho .menu .botaoMenu a{
    display: flex;
    height: 30px;
    padding: 0 15px;

    font-family: var(--font-destaque);
    font-weight: 700;
    line-height: 30px;
    text-align: center;  
    color: var(--cor4);
}

.cabecalho .menu .botaoMenu a:hover{
    background-color: var(--cor3);
    transform: scale(1.2);
    color: var(--cor0);
    border-radius: 5px;

    transition: 0.6s;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.8);
}

.menuResponsivo{ 
    display: none;
}

main{
    background-color: white;
    min-width: none;
    width: var(--largura-padrao);
    min-width: var(--largura-minima);
    max-width: var(--largura-maxima);
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    box-shadow: 0px 35px 20px rgba(0, 0, 0, 0.5);
}

main .apresentacao{
    background-color: #ace17a33;
    width: 100%;
}

main .apresentacao .imagem{
    width: 100%;
    height: 50vh;
    margin: 0 auto;
    object-fit: cover;
    display: none;

    animation-name: ImagemNova;
    animation-duration: 0.5s;
}

@keyframes ImagemNova{
    from{
        opacity: 0.5;
    }
    to{
        opacity: 1;
    }
}

main .apresentacao .imagem.ativa{
    width: 100%;
    display: inherit;

}

.botoesBanner{
    display: flex;
    gap: 15px;
    justify-content: center;
    position: absolute;
    top: 58vh;
    width: var(--largura-padrao);
    min-width: var(--largura-minima);
    max-width: var(--largura-maxima);
    z-index: 50;
}

.botoesBanner .botao{
    background-color: white;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    opacity: 0.4;
}

.botoesBanner .botao.selecionado{
    opacity: 1;
}

.conteudo{
    margin: 20px 40px;
    text-align: justify;
    line-height: 25px;
    font-size: 1.1em;
}

.conteudo section{
    margin-bottom: 20px;
}

.conteudo section h1, .conteudo section h2{
    margin-bottom: 15px;
    text-align: center;
}

.conteudo section h1{
    font-size: 1.5em;
}

.conteudo section h2{
    font-size: 1.3em;
}

.conteudo section p{
    margin-bottom: 20px;
    text-indent: 50px;
}

.conteudo section ul{
    list-style: disc;
    line-height: 35px;
    margin: 0 20px;
    text-align: left;
}

.historia{
    display: flex;
    flex-direction: column;
    gap: 10px;

    background-color: #022F0B66;
    position: absolute;
    z-index: 15;

    color: var(--cor0);
    padding: 35px;
    font-weight: 500;
    font-size: 1.4em;
    line-height: 1.4em;

    height: 50vh;
    width: var(--largura-padrao);
    min-width: var(--largura-minima);
    max-width: var(--largura-maxima);
}

.historia h1{
    margin-top: 10px;
    text-align: center;
    text-shadow: 3px 3px 5px black;
}

.historia .parteHistoria{
    display: none;
    text-align: justify;
    text-shadow: 3px 2px 1px black;
}

.historia .parteHistoria.ativa{
    display: inherit;
    text-align: justify;
    flex-direction: column;
    justify-content: space-between;
}

footer{
    background-color: var(--cor2-trasp);

    height: 25px;
    margin: 0 auto;
    width: var(--largura-padrao);
    min-width: var(--largura-minima);
    max-width: var(--largura-maxima);
    line-height: 25px;
    text-align: center;
}

#desenvolvedor, #desenvolvedor a{
    color: #022F0B;
    font-size: 14px;
    font-weight: 300;
}

